#outer {
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow-x: hidden;
}

#header {
    flex: 0 1 auto;
    margin-left: 20px;
}

#upperrow {
    flex: 1 1 auto;
    width: 100%;
    font-size: 12;
}

.bd-example-modal-lg .modal-dialog{
    display: table;
    position: relative;
    margin: 0 auto;
    top: calc(50% - 24px);
  }

.bd-example-modal-lg .modal-dialog .modal-content{
    background-color: transparent;
    border: none;
}


#loadingSpinner{
    position: absolute;
    margin: auto;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

#graph {
    margin-top: 0px;
    flex-grow : 1;
    height: 100%;
    overflow-x: scroll;
}

#vis_header {
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 0px;
}

#vis_line {
    margin-top: 3px;
    margin-bottom: 0px;
    border-bottom: 2px solid;
    border-color: black /* #ced4da; */;
}

mark{
    background: rgb(95, 0, 247);
    color: black;
}


#modal-window {
    padding-top: 3%;
    max-width: 80%;
}

#starglyphpath {
    stroke-width: 2;
    stroke: #cacfd2;
    fill: none;
    transform-origin: 50% 50%;
    pointer-events: none;
}

#starglyph {
    fill: #929292;
    fill-opacity: 0.15;
    stroke: #e74c3c;
    stroke-width: 0;
    transform-origin: 50% 50%;
    pointer-events: none;
}

svg.leader-line {
    pointer-events: auto!important;
}

#starglyph_descriptor {
    cursor: pointer;
}

#detail_icon {
    cursor: pointer;
    visibility: hidden;
}

#column_header {
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 25px;
    border: 2px solid black;
    padding-right: 15px;
    padding-left: 15px;
}

#document_count {
    margin: 0 auto;
    margin-top: 0px;
    color: grey;
    padding-right: 15px;
    padding-left: 15px;
}

#column_header {
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 25px;
    border: 2px solid black;
    padding-right: 15px;
    padding-left: 15px;
}

.table-align-right {
    text-align: right !important;
}

.table-align-center {
    text-align: center !important;
}

.table-align-left {
    text-align: left !important;
}

.cut-off td:nth-child(1) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    direction:rtl;
}

.cut-off td:nth-child(3) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
